
.brandbox {
	width: 100px;
	height: 100px;
	margin: 7px;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center;
	color: #fff;
	background-color: darkblue;
	cursor: pointer;
}

.brandbox:hover {
	background-color: red;
}

.mnu-etalase {
	margin-top: 50px;
}